In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as  plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
df = pd.read_csv('creditcard_data.csv')

In [4]:
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [5]:
df.shape

(284807, 31)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
df.isnull().sum() / df.shape[0]*100

Time      0.0
V1        0.0
V2        0.0
V3        0.0
V4        0.0
V5        0.0
V6        0.0
V7        0.0
V8        0.0
V9        0.0
V10       0.0
V11       0.0
V12       0.0
V13       0.0
V14       0.0
V15       0.0
V16       0.0
V17       0.0
V18       0.0
V19       0.0
V20       0.0
V21       0.0
V22       0.0
V23       0.0
V24       0.0
V25       0.0
V26       0.0
V27       0.0
V28       0.0
Amount    0.0
Class     0.0
dtype: float64

In [11]:
print('How many transaction are legit and fraudulent transactions ?')
print(df['Class'].value_counts())

How many transaction are legit and fraudulent transactions ?
0    284315
1       492
Name: Class, dtype: int64

In [ ]:
# This dataset is highly unbalanced
# 0---> Normal Transaction
# 1---> Fraudulent Transaction

In [12]:
# Dividing the dataset into legit and fraud transaction

Legit = df[df.Class == 0]
Fraud = df[df.Class == 1]

In [17]:
print(Legit.shape)

(284315, 31)

In [18]:
print(Fraud.shape)

(492, 31)

In [20]:
# Staistical Analysis of the data

Legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [21]:
Fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [26]:
# Comparing the values for the target variable

df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [22]:
# Using random sampling method to balance the target variables

legit_sample = Legit.sample(n=492)

In [23]:
# Concatinating the balanced data

df1 = pd.concat([legit_sample, Fraud], axis = 0)

In [24]:
df1.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
107917,70676.0,-1.044514,1.256890,1.860472,1.113291,-0.794289,-0.514515,0.196878,0.545340,-0.208337,...,-0.205938,-0.541633,-0.090092,0.666161,0.327660,-0.407733,0.203896,0.082976,19.67,0
163933,116334.0,0.223013,0.504755,0.072421,-0.293476,0.348601,-0.813891,0.743721,-0.275575,0.180700,...,0.156688,0.613461,0.222033,-0.034077,-1.405812,-0.031231,0.065792,0.182212,34.95,0
8021,10997.0,-1.356072,-0.348513,1.909562,-0.928418,1.183352,-0.388168,-0.417992,0.252114,1.093507,...,0.026129,-0.124479,-0.255902,-0.850966,0.354619,1.010382,-0.120146,0.041284,15.95,0
225522,144281.0,2.125265,-0.895296,-1.442182,-1.037914,-0.470827,-0.846282,-0.412906,-0.254345,-0.723739,...,0.498213,1.332645,-0.110354,-0.343102,0.194618,0.075773,-0.048139,-0.071355,55.85,0
63936,50936.0,-0.913753,0.706601,1.942942,-0.518807,0.274031,-0.843895,0.797072,-0.228870,-0.381912,...,-0.135764,-0.487139,-0.059699,0.495334,-0.291060,-0.129574,-0.428808,-0.064700,2.69,0

In [27]:
print('Number of values in the new dataset')
print(df1['Class'].value_counts())

Number of values in the new dataset
0    492
1    492
Name: Class, dtype: int64

In [29]:
df1.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94139.772358,-0.179469,0.031536,-0.067633,-0.096696,0.004158,-0.025773,-0.036014,-0.031199,-0.004712,...,0.050667,0.054807,0.004966,0.021854,-0.049044,-0.000693,-0.024364,0.006015,-0.008421,94.578780
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [31]:
# splitting the data into feature and target variables 

x = df1.drop(columns={'Class'}, axis = 1)
y = df1['Class']

In [32]:
print(x)

            Time        V1        V2        V3        V4        V5        V6  \
107917   70676.0 -1.044514  1.256890  1.860472  1.113291 -0.794289 -0.514515
163933  116334.0  0.223013  0.504755  0.072421 -0.293476  0.348601 -0.813891
8021     10997.0 -1.356072 -0.348513  1.909562 -0.928418  1.183352 -0.388168
225522  144281.0  2.125265 -0.895296 -1.442182 -1.037914 -0.470827 -0.846282
63936    50936.0 -0.913753  0.706601  1.942942 -0.518807  0.274031 -0.843895
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
107917  0.196878  0.545340 -0.208337  ... -0.007960 -0.205938 -0.541633
163933  0.743721 -0.275575  0.180700  ... -0.171934  0.156688  0.613461
8021   -0.417992  0.252114  1.093507  ...  0.172790  0.026129 -0.124479
225522 -0.412906 -0.254345 -0.723739  ...  0.073230  0.498213  1.332645
63936   0.797072 -0.228870 -0.381912  ... -0.111416 -0.135764 -0.487139
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
107917 -0.090092  0.666161  0.327660 -0.407733  0.203896  0.082976   19.67
163933  0.222033 -0.034077 -1.405812 -0.031231  0.065792  0.182212   34.95
8021   -0.255902 -0.850966  0.354619  1.010382 -0.120146  0.041284   15.95
225522 -0.110354 -0.343102  0.194618  0.075773 -0.048139 -0.071355   55.85
63936  -0.059699  0.495334 -0.291060 -0.129574 -0.428808 -0.064700    2.69
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]

In [33]:
print(y)

107917    0
163933    0
8021      0
225522    0
63936     0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [40]:
# splitting the dataset into training and test

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.25)

In [41]:
# Fitting the  model

model1 = LogisticRegression()

In [42]:
model1.fit(x_train, y_train)

LogisticRegression()

In [43]:
# Accuracy on training data

x_train_pred = model1.predict(x_train)
training_data_accuracy = accuracy_score(x_train_pred, y_train)

In [44]:
print('Accuracy of training data:', training_data_accuracy*100)

Accuracy of training data: 92.14092140921409

In [45]:
# Accuracy on testing data

x_test_pred = model1.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_pred, y_test)

In [46]:
print('Accuracy of testing dataset:', testing_data_accuracy*100)

Accuracy of testing dataset: 90.65040650406505

In [47]:
from sklearn.metrics import classification_report

In [50]:
def generate_classification_report(modelname, x_train_pred, y_train):
    report = classification_report(x_train_pred, y_train)
    print(f"Classification report for {modelname}:\n, {report}\n")

generate_classification_report(model1, x_train_pred, y_train)

Classification report for LogisticRegression():
,               precision    recall  f1-score   support

           0       0.97      0.88      0.92       401
           1       0.87      0.97      0.92       337

    accuracy                           0.92       738
   macro avg       0.92      0.93      0.92       738
weighted avg       0.93      0.92      0.92       738

In [51]:
generate_classification_report(model1, x_test_pred, y_test)

Classification report for LogisticRegression():
,               precision    recall  f1-score   support

           0       0.93      0.89      0.91       132
           1       0.88      0.92      0.90       114

    accuracy                           0.91       246
   macro avg       0.91      0.91      0.91       246
weighted avg       0.91      0.91      0.91       246